// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
body {
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
  letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  padding: 1rem 0rem;
}
p {
  margin: 0;
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: 1.5px;
  line-height: 1.8em;
}
.navigation {
  text-align: center;
}
.navigation li {
  display: inline-block;
  margin: 10px;
}
.navigation li a {
  padding: 10px;
}
.navigation a img {
  margin-top: -10px;
}
.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.main section  {
  overflow: hidden;
}
.page {
  background-color: #ddd;
}

